/* COMMON */
body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}
.menu{
    list-style-type: none;
}
.menu li{
    display: inline-block;
}
.menu li a{
    text-decoration: none;
}

/* HEADER */
.wrapper{
    max-width:900px;
    margin: 0 auto;
}
/* Nav */
.top-nav{
    padding: 25px 0px;
}
header nav{
    text-align: right;
}
nav .menu li a{
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 14px;
}
.menu.lang li{
    border-right: 1px solid black;
    padding-left: 15px;
}
.menu.lang li:last-child{
    border: none;
}
.container .burger-menu{
    font-size: 25px;
    padding-right: 25px;
}

/* Jumbotron */
.jumbotron{
    background-image: url(../img/hero-bg.jpg);
    height:550px;
    background-position: 25%;
    position: relative;
}
.teaser{
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbotron .teaser h1{
    font-size: 40px;
}
.jumbotron .teaser p{
    font-size: 13px;
    margin: 13px 0px;
}
/* HEADER END*/

/* MAIN */
/* Section top */
.space{
    padding: 40px 0px;
}
.products{
    margin: 40px 0px;
    text-align: center;
    background-color: #fafafa;
    margin: 20px;
    padding: 40px 0px;
}
.products h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.products p{
    font-size: 20px;
    margin-bottom: 20px;
 }
.products img{
    width: 100%;
 }
 .products a{
    text-decoration: none;
    color: blue;
    margin-bottom: 20px;
 }
 /* Section top middle */
 .phone-section{
    height: 350px;
    background-image: url("../img/HelbizBanner.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
 }
     
 .phone-section img{
    height: 550px;
    display: block;
    margin: auto;
    position: relative;
    top: 100px;
 }
 
 .col_left{
    padding-left: 20%;
    padding-right: 40%;
 }
 .col_right{
    padding-left:40%;
 }
.info{
    text-align: left;
    padding: 50px 0px;

}
.info h3{
    font-size: 30px;
}

/* Section Top Bottom */
.banner{
    background-image: url("../img/ScooterHelbiz-2400.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    height: 400px;
}
.inner{
    text-align: center;
    color: white;
    padding-top: 70px;
}
.inner h2{
    font-size: 40px;
}
/* MAIN END*/

/* MEDIA QUERY */
/* Header */
@media all and (min-width: 768px)
and (max-width: 991px) {
    header .wrapper img{
        padding-left: 25px;
    }
    .products img{
        width: 50%;
    }
}    
@media all and (max-width: 767px) {
    header .wrapper img{
        padding-left: 25px;
    }
    .info-col_left{
        padding: 0;
    }
    .col_left{
        margin-top:20%;
    }
    .col_right{
        padding-left: 20%;
    }
}    
/* Header End */
